@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.blue-bg{
  position: fixed;
  background: url(https://live.staticflickr.com/1656/26031883676_182191d803_b.jpg);
  background-size: cover;
  background-color: #58aff6;
  top: 0;
  height: 400px;
  width: 100vw;
  z-index: -1;
  overflow-x: hidden;
}
.white-bg{
  position: absolute;
  top: 0;
  background-color: #fff;
  min-height: 500px;
  margin: 210px 0px;
  width: 100vw;
  height: 100vh;
  transform: skewY(5deg);
  z-index: -1;
}
.content{
  position: absolute;
  top: 0;
  margin: 250px 10vw;
  max-width: 60vw;
  background-color: transparent;
}  
.shadow{
    box-shadow: -2px -5px 5px 0px rgba(0,0,0,0.3);
}

/* form */
  form {
      background-color: #58aff6;
      z-index: 7px;
      opacity: 0.5px;
      height: 100px;
  }
table{
    display: inline-block;
    background-color: rgb(99, 78, 78);
    width:700px ;
    /* height: 100px; */
    margin-top: 20px;
    border: 3px solid black;
}
table th,td{
    border: 2px solid rgb(40, 38, 38);
    width: 175px;
    text-align:center;
}